.jumbotron {
  height: 400px;
}

.check {
  text-align: inherit;
}

body {
  height: 3000px;
}

.morePadding {
  padding-bottom: 10px; /* solution with paddings */
}

.accordionSpacing.panel-group .panel + .panel {
  margin-top: 25px; /* solution with margins */
}

.a-footer {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: auto;
}

@media screen and (max-width: 680px) {
  #maincontent {
    width: auto;
    float: none;
  }
  #sidebar {
    width: auto;
    float: none;
  }
}
